<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS and WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^dbellcreations\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.dbellcreations.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="WebsiteScan Root to Public" stopProcessing="true">
          <match url="^WebsiteScan/?$" />
          <action type="Rewrite" url="WebsiteScan/public/" />
        </rule>
        <rule name="WebsiteScan Requests to Public" stopProcessing="true">
          <match url="^WebsiteScan/(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^/WebsiteScan/public/" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="WebsiteScan/public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
