Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /WebsiteScan/

    RewriteRule ^public/ - [L]
    RewriteRule ^install/ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
